[submodule ".registry"]
	path = .registry
	url = https://github.com/sassoftware/sassoftware.r-universe.dev
	branch = HEAD
[submodule "sasctl"]
	path = sasctl
	url = https://github.com/sassoftware/r-sasctl
[submodule "swat"]
	path = swat
	url = https://github.com/sassoftware/R-swat
