[submodule ".registry"]
	path = .registry
	url = https://github.com/sassoftware/sassoftware.r-universe.dev
	branch = HEAD
[submodule "sasctl"]
	path = sasctl
	url = https://github.com/sassoftware/r-sasctl
	branch = 0.8.1
[submodule "socketR"]
	path = socketR
	url = https://github.com/sassoftware/socketr
	branch = 1.0.2-release
[submodule "swat"]
	path = swat
	url = https://github.com/sassoftware/R-swat
